li a {
    color: #F0FFFF;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("images/background.gif");
    background-repeat: no-repeat;
    background-color: white;
  }